@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* Custom component */

.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 3.5rem;
  transition: all 0.3s ease;
  color: #969696;
}

.sidebar-wrapper__name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: black;
}

.main-home {
  background-color: #fff;
  height: 100vh;
}



.main-home__slides__content {
  position: absolute;
  top: 30%;
  left: 15%;
  color: rgb(0, 0, 0);
  text-align: center;
}

.main-home__slides__content-name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 3rem;
  color: black;
}

.move-up {
  animation: moveUp 2s ease;
}

@keyframes moveUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease;
}

.fade-out {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
